{{>header}}
<h1>{{title}}</h1>
<div class="container_frontpage d-flex justify-content-center">

<div class="mt-5 mx-2">
    <p>Bienvenue sur {{title}}</p>
    <p>Ici pas de blabla</p>
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a class="btn btn-primary btn-sm active" href="/register">Register</a>
</div>
</div>